.address {
  @include font-styles(14px, 1.71, null, 0.03em);
  width: 231px;
  margin: 0;
  font-style: normal;
    
  &__contacts {
    display: flex;
    flex-direction: column;
    width: 231px;
    padding-left: 0;
  }
  &__iten:not(:last-child) {
    margin-bottom: 9px;
  }
  &__list {
    color: var(--color-footer-contacts);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &--activ {
      text-decoration: none;
      color: var(--color-text-reserve);
    }
    &:hover,
    &:focus {
      color: var(--color-text-reserve);
    }
  }
}
