.portfolio-button {
  margin-bottom: 50px;
  
  &__list {
    @extend %flex-justify-content;
    margin: 0;
  }

  &__list > .iten:not(:last-child) {
    margin-right: 8px;
  }

  &__current {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 6px 22px;

    cursor: pointer;
    @include font-styles(16px, 1.63, 500, 0.03em);
    font-family: inherit;
    color: var(--title-text-color);
    background-color: #f5f4fa;
    border: none;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--activ {
      display: inline-block;
      align-items: center;
      text-align: center;
      padding: 6px 22px;

      cursor: pointer;
      @include font-styles(16px, 1.63, 500, 0.03em);
      font-family: inherit;
      color: var(--color-text-reserve);
      background-color: #2196f3;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:hover,
    &:focus {
      color: var(--color-text-reserve);
      background-color: #2196f3;
      border-color: var(--activ-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
