.heading-job {
  padding-bottom: 94px;

  &__portfolio {
    display: block;
    margin: 0 0 50px 0;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
  }

  &__img {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &-text {
      position: absolute;
      bottom: 0;
      height: 70px;
      width: 100%;
      background-color: rgba(47, 48, 58, 0.8);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0;
      padding: 27px 82px;
    }
  }

  &__pict {
    display: block;
  }
}
