.social-box {
  margin-top: 12px;
  margin-left: 70px;

  &__title {
    display: block;
    margin: 0;
    text-align: left;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-reserve);
  }

  &__team {
    @extend %flex-justify-content;
  }

  &__icon {
    @extend %flex-justify-content;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--color-text-reserve);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #2196f3;
      fill: var(--color-text-reserve);
    }
  }

  &__list:not(:last-child) {
    margin-right: 10px;
  }
}
