.user-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    display: block;
    margin: 0;
    text-align: center;
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
  }

  &__pict {
    display: block;
  }

  &__img {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.user-profession {
  padding-top: 30px;
  padding-bottom: 30px;

  &__name {
    display: block;
    margin: 0 0 10px 0;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__type {
    display: block;
    margin: 0;
    text-align: center;

    font-size: 16px;
    line-height: 1.17;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
  }
}
